body {
    background-image: url("images/white-waves.png");
    margin: auto;
    font-family: 'Arial', 'Halvetica Neue', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    width: 100%;
    background-color: white;
    margin-top: 0px;
    height: 100px;
    border-bottom: 1px solid #dddddd;
    padding: 0px;
    position: relative;   
}

.logo h1{
    background-color: #4aaaa5;
    color: white;
    width: 960px;
    margin: auto;
    padding: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;
    block-size: inline;
    width: 200px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.logo {
    width: 960px;
    margin: auto;
}
    h2 {
    margin: 0px 25px 10px 25px;
    padding: 10px 0px 20px 0px;
    color: #4aaaa5;
    border-bottom: 5px solid #777777;
    font-family: Georgia, 'Times New Roman', Times, serif

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline;
}

nav { 
    float: right;
    color: #777777;
    margin-top: 20px;
}

.content {
    width: 960px;
    margin: 50px auto 0px auto;
    position: relative;
    clear: both;
    height: auto;
    background-color: white;
    display: block;
    overflow: auto;
}

img {
    margin: 8px 10px 10px 25px;
    padding-bottom: 10px;
}

.profile_pic {
    float: left;
}

footer {
    color: white;
    clear: both;
    padding-top: 25px;
    background-color: #666666;
    font-size: 10px;
    border-top: 8px solid #4aaaa5;
    flex: 1;
    margin-top: 150px;
    bottom: 0;
    position: relative;
}

#about_copy {
    position: absolute;
    bottom: 0px;
    width: 100%;  
}

#about_footer {
    margin-top: 225px;
}
  
p {
    line-height: 2.5em;
    margin: 12px 25px 0px 5px;
    text-align: justify;
    color: #777777;
}

.copy {
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

 input {
     width: 75%;
     padding: 5px 25px 5px 25px;
     margin: 10px 0px 10px 0px;
 }

 textarea {
     width: 75%;
 }
 
 .form_boxes {
     margin: 25px 25px 5px 25px;
 }

 .button {
     width: auto;
     background-color: #4aaaa5;
     color: white;
 }

.hangman {
    position: relative;
    width: 200px;
    height: 210px;
    float: left;
    margin-right: 25px;
}

.hangman_text {
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    margin-left: 25px;
    text-align: center;
}

.rpg {
    position: relative;
    width: 200px;
    height: 210px;
    float: left;
    margin-right: 24px;
}

.rpg_text {
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    text-align: center;
    margin-left: 25px;
}

.trivia {
    position: relative;
    width: 200px;
    height: 210px;
    float: left;
    clear: both;
    margin-right: 25px;
}

.trivia_text {
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    text-align: center;
    margin-left: 25px;
}

.rutgers {
    position: relative;
    width: 200px;
    height: 210px;
    float: left;
    margin-right: 25px;
}

.rutgers_text {
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    text-align: center;
    margin-left: 25px;
}

.rock_paper_scissors {
    position: relative;
    width: 200px;
    height: 210px;
    float: left;
    clear: both;
    margin-right: 25px;
}

.rock_paper_scissors_text {
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    text-align: center;
    margin-left: 25px;
}

.portfolio_imgs {
    overflow: auto;
}

@media only screen and (max-width:  980px) {
.content {
    width: 700px;
    
}

.logo {
    width: 700px;
}
    
}

@media only screen and (max-width: 768px) {
.content {
    width: 560px;
}

.logo {
    width: 560px;
}
}

@media only screen and (max-width: 640px) {
.logo {
    float: none;
    width: 430px;
    margin: 0;
} 
.content {
    width: 430px;
    font-size: 1.7vw;

}

.header {
    background-color: #4aaaa5;
}

nav {
    float: none;
    margin-top: 0;
    text-align: center;
}
h1 {
    float: none !important;
    position: static !important;
}

.profile_pic {
    float: none;
    display: block;
    margin: 0 auto; 
}
}